:root {
	--text-blue: hsl(238, 29%, 16%);
	--text-dkblue: hsl(240, 6%, 50%);
	--text-xdkblue: hsl(237, 12%, 33%);
	--text-red: hsl(14, 88%, 65%);
	--gradient-violet: hsl(273, 75%, 66%);
	--gradient-blue: hsl(240, 73%, 65%);
	--divider-blue: hsl(240, 5%, 91%);
}
html {
	box-sizing: initial;
	font-size: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 2rem 3rem;
	font-family: "Kumbh Sans", sans-serif;
	background-image: linear-gradient(
		var(--gradient-violet),
		var(--gradient-blue)
	);
	color: var(--text-blue);
}
h1,
h2,
h3 {
	margin-top: 0;
}
.card {
	background: #fff;
	max-width: 56rem;
	margin: 3rem;
	background-image: url("images/bg-pattern-mobile.svg");
	background-repeat: no-repeat;
	background-position: center 0%;
	background-size: 50%;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	padding: 2.875rem 1.5rem;
}
.card__box {
	display: none;
}
.card__image {
	position: relative;
}
.card__image img {
	position: absolute;
	top: -6.8rem;
	left: 50%;
	display: block;
	width: 100%;
	height: auto;
	max-width: 15rem;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.card__text {
	padding-top: 7rem;
}
.accordion__item {
	border-bottom: 1px solid var(--divider-blue);
	padding-top: 1rem;
}
.accordion__item h2 {
	margin-bottom: 0;
}
.accordion__question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: left;
	border: none;
	background: transparent;
	padding: 0;
	font-size: 0.875rem;
	font-family: "Kumbh Sans", sans-serif;
	margin-bottom: 1rem;
	/* position: relative; */
}
.accordion__question.open {
	font-weight: 700;
}
.accordion__question::after {
	/* position: absolute; */
	display: block;
	content: "";
	background-image: url(images/icon-arrow-down.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 0.65rem;
	height: 0.65rem;
}
.accordion__content {
	font-size: 0.75rem;
	line-height: 1.4;
	margin-bottom: 1rem;
}
/**
 *
 * *desktop view
 */
@media (min-width: 56rem) {
	.card {
		position: relative;
		display: flex;
		margin: 6rem auto;
		/* padding-right: 2rem; */
		padding: 4.375rem 6.5rem 4.375rem 0px;
		background-image: url("images/bg-pattern-desktop.svg");
		background-size: 25rem;
		background-position: -13% center;
		background-repeat: no-repeat;
	}
	.card__box {
		display: block;
		position: absolute;
		left: 0;
		top: 56%;
		z-index: 1;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
	.card__image,
	.card__text {
		flex: 1;
	}

	.card__image {
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	.card__image img {
		position: relative;
		left: auto;
		top: auto;
		max-width: 25rem;
		transform: translateX(-4rem);
		-webkit-transform: translateX(-4rem);
		-moz-transform: translateX(-4rem);
		-ms-transform: translateX(-4rem);
		-o-transform: translateX(-4rem);
	}
	.card__text {
		padding-top: 0;
	}
}
